*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}

header{
   
    height: 80px;
    display: flex;      
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    padding: 0 100px;    
    font-weight: bold;

}
.logo{
    font-size: 35px;
}
.navbar {
    list-style: none;
    font-size: 25px;
    display: flex;
    gap: 30px;
}

.username{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  padding: 10px 5px 10px 5px;
  width: 150px;
    height: 50px;
    border-radius: 9999px;
    background-color: #BDE8F5;
    color:blue;
}
main{
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
    height: calc(100vh - 80px);
    align-items: center;

}
.left{
  
    font-size: 30px;
}
.first{
    color:#1A3263;
}
.second{
    color:#3A9AFF;
}
p{
    max-width: 600px;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
    margin: 20px 0;
    text-align: justify;
  }
.button{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  padding: 8px 16px;
  width: 250px;

    height: 50px;
    border-radius: 9999px;
    background-color: #3A9AFF;
    color: white;
}
  
  img{

    height: 100%;
    width: 100%;
    object-fit: contain;
}
